<div class="mt-5">
    <p class="fs-1 text-center text-success">اكتب بريدك الالكتروني لكي يتم التواصل معك</p>

<div class="container">
    <form [formGroup]="sendEmail" (ngSubmit)="submit()" action="">
    <div class="row flex-column align-items-center g-4 justify-content-center">
            <div class="col-md-6">
                <div class="">
                    <label for="">البريد الالكتروني</label>
                    <input formControlName="email" class="form-control" type="email">
    
                </div>
            </div>
            
            <button type="submit" class=" col-2 btn btn-primary">تاكيد</button>
        </div>
    </form>

</div>

</div>
