<nav class="navbar navbar-expand-lg bg-primary text-gray position-sticky top-0">
    <div class="container">
        <img  src="../../../assets/images/مشورة.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <div class="d-flex gap-2">
                
                <a [routerLink]="['/Login']" class="btn btn-login">
                    <span>دخول</span>
                    <i class="fas fa-sign-in-alt"></i>
                </a>
                <a [routerLink]="['/Signup']" class="btn btn-signup">
                    <span>انشاء حساب</span>
                    <i class="fas fa-user-plus"></i>
                </a>
            </div>
        </div>
    </div>
</nav>