<!-- <app-login></app-login>
<app-signup></app-signup> -->
<ngx-spinner class="d-flex justify-content-center align-items-center" bdColor = "rgba(240,211,211,0.5)" color = "#0077b6" type="timer">
  <img class="position-absolute  start-50 translate-middle" src="../../../assets/images/logo2.png" alt="" style="width: 250px; height: 250px;top: 8px;">
</ngx-spinner>

<!-- <div class="schedule">
    <div class="column">
      <div class="header">اليوم</div>
      <div class="times">
        <div class="time">2:00 pm</div>
        <div class="time disabled">3:00 pm</div>
        <div class="time">4:00 pm</div>
        <div class="time">5:00 pm</div>
        <div class="time disabled">6:00 pm</div>
      </div>
      <div class="footer">احجز</div>
    </div>
    <div class="column">
      <div class="header">غدًا</div>
      <div class="times">
        <div class="time">2:00 pm</div>
        <div class="time disabled">3:00 pm</div>
        <div class="time">4:00 pm</div>
        <div class="time">5:00 pm</div>
        <div class="time disabled">6:00 pm</div>
      </div>
      <div class="footer">احجز</div>
    </div>
    <div class="column">
      <div class="header">الأربعاء</div>
      <div class="times">
        <div class="time">2:00 pm</div>
        <div class="time disabled">3:00 pm</div>
        <div class="time">4:00 pm</div>
        <div class="time">5:00 pm</div>
        <div class="time disabled">6:00 pm</div>
      </div>
      <div class="footer">احجز</div>
    </div>
  </div>
<style>
    body {
      font-family: sans-serif;
      background: white;
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }

    .schedule {
      display: flex;
      gap: 15px;
    }

    .column {
      background: #f0f0f0;
      border-radius: 15px;
      overflow: hidden;
      width: 100px;
      text-align: center;
    }

    .header {
      background: #0033cc;
      color: white;
      padding: 10px 0;
      font-weight: bold;
    }

    .times {
      padding: 10px 0;
    }

    .time {
      color: #333;
      font-size: 14px;
      margin: 5px 0;
    }

    .time.disabled {
      color: #aaa;
      text-decoration: line-through;
    }

    .footer {
      background: red;
      color: white;
      padding: 5px 0;
      font-weight: bold;
      cursor: pointer;
    }
  </style> -->

<div class="d-flex flex-column justify-content-between min-vh-100">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>