<div class="mt-5">
    <p class="fs-1 text-center text-success">الان تستطيع تغير كلة مرور حسابك</p>

<div class="container">
    <form [formGroup]="resetPaswword" (ngSubmit)="submit()" action="">
    <div class="row flex-column align-items-center g-4 justify-content-center">
            <div class="col-md-6">
                <div class="">
                    <label for="">كلمة المرور الجديدة</label>
                    <input formControlName="newPassword" class="form-control" type="password">
    
                </div>
            </div>
            <div class="col-md-6">
                <div class="">
                    <label for="">تاكيد كلمة المرور</label>

                    <input formControlName="confirmPassword" class="form-control" type="password">
    
                </div>
            </div>
            <button type="submit" class=" col-2 btn btn-primary">تغير</button>
        </div>
    </form>

</div>

</div>